<div class="container my-3">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">About Todo List</h1>
            <p class="col-md-8 fs-4">This Todo List application is designed to help you manage your tasks effectively.
            </p>
            <h4>Features: </h4>
            <ul>
                <li>Add, delete tasks</li>
                <li>Mark tasks as completed</li>
            </ul>   
        </div>
    </div>
</div>